# Dependencies
node_modules/

# Environment variables
.env
*.env.local

# Logs
logs/
*.log
npm-debug.log*

# Uploads (les images seront stockées sur un service cloud en production)
backend/uploads/

# Invoices générées
backend/invoices/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
dist/
build/
