body {
    font-family: 'Ebrima', sans-serif;
    background-color: #f3f4f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 1.25rem; /* 20px */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem; /* 20px */
    width: 100%;
    max-width: 37.5rem; /* 600px */
}

.header-content {
    text-align: center;
    margin-bottom: 1.875rem; /* 30px */
    width: 100%;
}

.checkout-summary-container,
.checkout-form-container {
    background-color: #ffffff;
    border-radius: 0.625rem; /* 10px */
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1); /* 0 4px 10px */
    padding: 2.5rem; /* 40px */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Add spacing between rows */
    margin-bottom: 1rem;
}

.checkout-summary-container p,
.checkout-summary-container h3 {
    display: flex;
    justify-content: space-between; /* Align the label and value */
    margin: 0.5rem 0; /* Add vertical spacing */
    color: #333;
}

.checkout-summary-container p span,
.checkout-summary-container h3 span {
    font-weight: bold;
    color: #007bff;
}

h1 {
    margin-left: 1.875rem; /* 30px */
}

h2 {
    margin-bottom: 1.25rem; /* 20px */
    color: #333;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 0.5rem; /* 8px */
    font-weight: bold;
    color: #555;
}

input, .card-element {
    width: 100%;
    padding: 0.625rem; /* 10px */
    margin-bottom: 0.9375rem; /* 15px */
    border: 0.0625rem solid #ddd; /* 1px */
    border-radius: 0.3125rem; /* 5px */
    font-size: 0.875rem; /* 14px */
    background-color: #f7f7f7;
    transition: background-color 0.3s, border-color 0.3s;
}

input:focus {
    border-color: #007bff;
    outline: none;
    background-color: #ffffff;
    box-shadow: 0 0 0.3125rem rgba(0, 123, 255, 0.5); /* 0 0 5px */
}

button {
    width: 107%;
    padding: 0.9375rem; /* 15px */
    border: none;
    border-radius: 0.3125rem; /* 5px */
    background-color: #007bff;
    color: #fff;
    font-size: 1rem; /* 16px */
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.1s;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004085;
    transform: scale(0.98);
}
