/* Forgot Password Section */
#forgot-password-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 15px;
    padding: 3rem;
    margin-top: 2rem;
    box-shadow: 8px 8px 15px #b8b9be, -8px -8px 15px #ffffff;
    width: 100%;
    max-width: 600px;
}

/* Section heading styling */
#forgot-password-section h2,
#reset-code-section h3,
#reset-password-section h3 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px #b8b9be;
}

/* General form styling */
#forgot-password-section form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for form labels */
#forgot-password-section label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
}

/* Styling for form inputs */
#forgot-password-section input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: #f0f3f5;
    box-shadow: inset 6px 6px 12px #b8b9be, inset -6px -6px 12px #ffffff;
    font-size: 1rem;
    color: #333;
    transition: all 0.3s ease;
}

/* Input hover and focus effects */
#forgot-password-section input:hover,
#forgot-password-section input:focus {
    box-shadow: inset 3px 3px 8px #b8b9be, inset -3px -3px 8px #ffffff;
}

/* Button styling */
#forgot-password-section button {
    background: linear-gradient(45deg, #961414, #f1874a);
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 0.75rem 2rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
    transition: background-color 0.3s, transform 0.1s;
}

/* Button hover and active effects */
#forgot-password-section button:hover {
    background-color: #961414;
    transform: translateY(-2px);
}

#forgot-password-section button:active {
    background-color: #750f0f;
    transform: scale(0.98);
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
    #forgot-password-section {
        padding: 2rem;
        width: 90%; /* Adjust width for smaller screens */
    }

    #forgot-password-section h2,
    #reset-code-section h3,
    #reset-password-section h3 {
        font-size: 1.75rem; /* Adjust font size */
    }

    #forgot-password-section input {
        padding: 0.5rem; /* Reduce padding */
        font-size: 0.9rem; /* Adjust font size */
    }

    #forgot-password-section button {
        padding: 0.5rem 1rem; /* Adjust button padding */
        font-size: 1rem; /* Adjust font size */
    }
}
